body{
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #4B4E2A;
}

.footer {
    background-color: #90B44B;
}

h1 {
    color: #90B44B;
}

p{
    color: #ff0000;
}
article {
    position: relative;
    height: 50vh;
    background: url(../img/Quetzal.jpg)center / cover;
}

article::before{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-color: rgba(0,0,0,0.2)
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
}